{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema</h1>
    <nav>
        <ul>
            <li><a href="{% url 'lista_fornecedores' %}">Fornecedores</a></li>
            <li><a href="{% url 'lista_produtos' %}">Produtos</a></li>
            <li><a href="{% url 'criar_categoria' %}">Criar Categorias</a></li>
            <li><a href="{% url 'lista_categorias' %}">Listar Categorias</a></li>


        </ul>
    </nav>
</body>
</html>
